[Unit]
Description=Babel API
After=apache2.service

[Service]
ExecStart=node /prod/babel-api/src/index.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=babel-api
User=run
Group=prod
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
