[Unit]
Description=Babel API
After=apache2.service

[Service]
ExecStart=/home/ubuntu/.nvm/versions/node/v19.7.0/bin/node /home/ubuntu/dev/babel-api/src/index.js
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=babel-api
User=ubuntu
Group=ubuntu
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
